body {
	background-color: white;
	font-family: 'Verdana', Helvetica, Arial, sans-serif !important;
	margin: 0;
}

img,
.modalButton {
	display: none;
	position: fixed;
}

.modalButton {
	background-size: cover;
}
#okButton {
	background-image: url('assets/buttons/ok.png');
	left: calc(0.259 * 1024px);
	top: calc(0.678 * 768px);
	height: calc(0.158 * 768px);
	width: calc(0.289 * 1024px);
}
#okButton:hover {
	background-image: url('assets/buttons/ok-hover.png');
}

#nextButton {
	background-image: url('assets/buttons/volgende-opdracht.png');
	left: calc(0.47 * 1024px);
	top: calc(0.85 * 768px);
	height: calc(0.114 * 768px);
	width: calc(0.508 * 1024px);
}
#nextButton:hover {
	height: calc(0.115 * 768px);
	width: calc(0.508 * 1024px);
	top: calc(0.849 * 768px);
}

#prevButton {
	background-image: url('assets/buttons/opnieuw-spelen.png');
	left: calc(0.01 * 1024px);
	top: calc(0.85 * 768px);
	height: calc(0.115 * 768px);
	width: calc(0.46 * 1024px);
}
#prevButton:hover {
	left: calc(0.008 * 1024px);
	top: calc(0.849 * 768px);
	height: calc(0.117 * 768px);
	width: calc(0.465 * 1024px);
}

#repeatOverlay {
	visibility: hidden;
	position: absolute;
	top: 20px;
	bottom: 20px;
	width:30%;
	margin-left: 50%;
	margin-bottom: 40%;
	text-align:center;
	background-color: rgb(136, 5, 0);
	color:white
	z-index: 1000;
	overflow-y: scroll;
	box-shadow: -1px 2px 15px -1px rgb(131, 34, 34);
}

#repeatOverlay div {
	margin: auto;
	background-color: #fff;
	padding:15px;
}

#overlaybutton {
	background-color: black;
	text-decoration-color: #fff
}

#promptContent h3 {
	display: inline;
}

#promptContent ul {
	list-style-type: none;
	padding-left: 0px;
}

#promptContent li {
	margin-bottom: 20px;
}

#promptContent p {
	text-align: left;
}

#promptContent p img {
	float: left;
	width: 60px;
	height: auto;
	padding-right: 15px;
	padding-bottom: 15px;
}

#promptContent ul button {
	background-color: #8a0e56;
	color: #fff;
	border: 1px solid #fff;
	font-size: 1em;
	font-weight: bold;
	padding: 15px 15px;
}

/* .close {
	width: 50px;
	height: 50px;
	position: fixed;
	background-image: url(assets/close.png);
	right: 20px;
	top: 20px;
	border: none;
} */
